@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: url(./images/robot.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2,
h4 {
  color: #142b47;
  font-weight: bold;
}

.marquee-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease; /* Added transition */
}

.marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-content-container {
  width: 50%;
  border: 1px solid #ddd;
  background-color: transparent;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease; /* Added transition */
}

.quote-container {
  margin-bottom: 20px;
}

.quote-text {
  font-size: large;
}

.services-container,
.about-container {
  margin-top: 20px;
  font-size: large;
}

/* Hover effect to fade the background */
.custom-content-container:hover,
.marquee-container:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
